<footer class="mt-5">
<footer class="footer">

  <div class="footer-contenido">

    <div class="footer-marca">
      <h2 class="footer-logo">Colchon Libre<img class="imagotipo" src="/assets/imagotipo%20sin%20texto%20blanco.png"></h2>

      <p class="footer-descripcion">
        Encuentra el alojamiento perfecto para tu próxima estancia.
      </p>
    </div>

    <div class="footer-seccion">

      <h3>Explorar</h3>

      <a href="#">Alojamientos</a>



    </div>

    <div class="footer-seccion">

      <h3>Ayuda</h3>

      <a href="/servicios">Preguntas frecuentes</a>



    </div>

    <div class="footer-seccion">

      <h3>Contacto</h3>
        <p>  Dirección: Bogotá, Colombia</p>
        <p>  Teléfono: +57 300 000 0000</p>
        <p>  Correo: contacto@empresa.com</p>
        <p> Horario: Lunes a viernes, 8:00 a.m. - 6:00 p.m.</p>

    </div>

  </div>

  <div class="footer-inferior">

    <p>
      © 2026 ColchonLibre
    </p>

  </div>

</footer>
</footer>